<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ titleTag }}</title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="Opuscule, LLC">

  <meta property="og:title" content="{{ titleTag }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
	{% include 'header.njk' %}
	<hr />
	<main>
    	{{ content | safe }}
	</main>
	<hr />
	{% include 'footer.njk' %}
	<!-- <script src="js/scripts.js"></script> -->
</body>
</html>