<nav>
	<h1><a href="/">PRL, Inc.</a></h1>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/capabilities/">Capabilities</a></li>
		<li><a href="/facilities/">Facilities</a></li>
		<li><a href="/certifications/">Certifications</a></li>
		<li><a href="/about-us/">About Us</a></li>
		<li><a href="/careers/">Careers</a></li>
	</ul>
</nav>