
:root {
	--darkTeal:#03465b;
	--orangecta: #f2663e;
	--footerHoverColor: #ffc953;
}

body,h1, h2, h3, h4, h5, h6, p, ul, ol, li { font-family: 'Manrope', sans-serif; }

h1, h2, h3, h4, h5, h6 { color: var(--darkTeal); }

h5.subTitle { font-size: 1.12em; font-weight: 900; text-transform: uppercase; color: #8d8d8d; }

.topNav { background-size: cover; background-position: center center; min-height: 50vh; border-bottom: 1em solid var(--darkTeal); }
.navbar-brand img { filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); }
.homeCap { background-image: url('/images/placeholder-landscape.jpg'); }

.navbar-nav .nav-item a { color: #FFF; text-decoration: none; }

.btn-primary { background-color: var(--orangecta); border-color: var(--orangecta); border-width: 2px; }
.btn-primary:hover { background-color: rgba(255,255,255,0); border-color: var(--orangecta); color: var(--orangecta); }
.btnondark.btn-primary:hover { color: #FFF; }

.mainSep { background-color: var(--orangecta); opacity: 1; }



main ul { list-style-type: none; }
main ul li::before { display:inline-block; 
	
	  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjQuNSIgc3Ryb2tlPSIjRjI2NjNFIi8+Cjwvc3ZnPgo=");
	   background-size: 10px 10px;
	   height: 10px;
	   width: 10px;
	   margin-left: -1.4em;
		   margin-top: -0.035em;
		   position: absolute;
	 }




.twoColE { display: grid; grid-template-columns: 1fr 1fr; }
.tceImg { background-size: cover; background-position: center center; }
.tceContent { background-color: var(--darkTeal); padding: 4em 12%; }
	.tceContent h2 { font-size: 2.25em; color: #fff; font-weight: 500; }
	.tceContent h5 { color: #c6c6c6; font-size: 1.12em;font-weight: 900; }
	.tceContent p { color: #fff; }

.raqcallout { background-image: url('/images/placeholder.jpeg'); background-size: cover; background-position: center center; }

/* === HOME === */
.liteCallout { background-color: rgba(216,226,231,0.25); padding: 2em 2em 1.4em 2em; }
.liteCallout svg { fill:var(--orangecta); max-width: 6.25em; }
.liteCallout h3 { font-size: 1.125em; color: var(--darkTeal); font-weight: 700; }

/* === CAPABILITIES === */
.no-webp .capabilitiesCap { background-image: url("/images/placeholder.jpeg"); }
.webp .capabilitiesCap { background-image: url("/images/placeholder.jpeg"); }
#v-pills-tab { min-width: 23.3em; }
#v-pills-tab .nav-link { background-color: rgba(216,226,231,0.35); text-align: left; color: var(--darkTeal);  font-weight: 500; }
	#v-pills-tab .nav-link.active { background-color: var(--orangecta); color: #fff; }
.capCallout { background-color: rgba(216,226,231,0.45); }
.capCalloutIcon { width: 8em; fill:#f2663e; }

.afRaQ h1, .afRaQ p { color: #FFF; }
.no-webp .afRaQ { background-image: url("/images/join-team-bg.jpeg"); }
.webp .afRaQ { background-image: url("/images/join-team-bg.webp"); }

/* === CERTIFICATIONS === */
.no-webp .certificationsCap { background-image: url("/images/placeholder.jpeg"); }
.webp .certificationsCap { background-image: url("/images/placeholder.jpeg"); }

/* === ABOUT US === */
.no-webp .aboutCap { background-image: url("/images/placeholder.jpeg"); }
.webp .aboutCap { background-image: url("/images/placeholder.jpeg"); }
.aboutmvp { background-color: #03465b; }
.amvpeach { background-color: #013647; padding: 2.1em 1.85em 1.4em; }
.amvIcon { fill: var(--orangecta); max-width: 90px; }
	.amvpeach h4, .amvpeach p { color: #FFF; }
	
.aboutJoin h1, .aboutJoin p { color: #FFF; }	
.no-webp .aboutJoin { background-image: url("/images/join-team-bg.jpeg"); }
.webp .aboutJoin{ background-image: url("/images/join-team-bg.webp"); }

/* === FACILITIES === */
.no-webp .facilitiesCap { background-image: url("/images/placeholder.jpeg"); }
.webp .facilitiesCap { background-image: url("/images/placeholder.jpeg"); }

/* === CONTACT US === */
.calloutHQ { background-color: rgba(216,226,231,0.45); padding: 1.4em; }
.chqContact { display:grid; grid-template-columns: auto auto; }

/* === FOOTER === */
footer#footer { background-color: var(--darkTeal); }
.footerNISicon { fill:#d8e2e7; width: 2.2em; }
.footerDoc { color: #FFF;  }
.footerLinkCol { text-align: right; }
.footerLinks { margin: 0; padding: 0; list-style-type: none; display: inline-block; }
	.footerLinks li { display: inline-block; margin-right: 1em;
		position: relative;
		border-right: 1px solid var(--orangecta);
		padding-right: 1em;
		line-height: 1; }
		.footerLinks li:last-child { padding-right: 0; margin-right: 1.5em; border-right: none; }
		.footerLinks li a { color: #FFF; text-decoration: none; transition: all 0.3s ease-out; }
			.footerLinks li a:hover { color: var(--footerHoverColor); }
.footerLI { fill:#d8e2e7; width: 2.1em; }