---
titleTag: About PRL Industries
pageName: About Us
description: Looking for sand castings for military and nuclear industry applications? PRL Industries' vertical integration will meet your high expectations for complex parts.
layout: 'base.njk'
---
  <h1>{{ pageName }}</h1>
  <p>“Made in the USA,” brief history, mission &amp; values, company leadership.</p>