---
titleTag: About PRL Industries
pageName: About Us
pageClass: aboutCap
description: "Looking for sand castings for military and nuclear industry applications? PRL Industries' vertical integration will meet your high expectations for complex parts."
layout: 'base.njk'
---

  <h1>{{ pageName }}</h1>


<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>PRL is proud to be an American company dedicated to supplying some of America’s most important customers.</h2>
      <hr class="mainSep" />
      <p>PRL is dedicated to serving customers working to defend America. We understand the importance of delivering castings and machined components where failure is not an option.</p>
    </div>
    <div class="col-sm-6">
      <p>This has been our philosophy for over 40 years. Our company has multiple facilities with overlapping capabilities. Our financial status is healthy – we’re backed by strong investors who believe in our management philosophy. We engage in cross training programs for critical roles to ensure your needs are always met.</p>
      <p>Our history of success has enabled us to create and maintain a strong network of vendors, suppliers, and subcontractors.</p>        
    </div>
  </div>
</section>

<section class="aboutmvp">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="amvpeach">
          icon
          <h4>Our Mission</h4>
          <p>To provide exceptional quality components allowing peace of mind for our nation’s military, nuclear, and industrial applications.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="amvpeach">
          icon
          <h4>Our Vision</h4>
          <p>To be the "Exception to the Rule" by striving to be the most innovative, disciplined, and talented manufacturer of high specification components.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="amvpeach">
          icon
          <h4>Our Partnership</h4>
          <p>We have strong partnerships with Nautilus Integrated Solutions' subsidiary companies — Micro Precision and Nathan Airchime. Our management team has deep experience serving in and supplying Military and Nuclear fields.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1>Lorem ipsum dolor sit amet consectetur</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="mainSep" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#">
          image
        </a>
      </div>
    </div>
  </div>
</section>

<section class="aboutJoin">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h1>Are you passionate about precision?</h1>
        <p>We are always looking for talented people to join our team with manufacturing experience: Foundry Engineering, Melting &amp; Molding; Welding, Grinding &amp; Heat Treating; CNC, CAD, CAM &amp; CMM Machining; or Nondestructive Testing</p>
        <p><a href="#" class="btn btn-primary">Join Our Team</a></p>
      </div>
    </div>
  </div>
</section>