---
titleTag: Web and Mobile Accessibility - PRL Industries
pageName: Accessibility
description: We use design standards that help customers identify, interpret, understand and interact with information presented on our website.
pageClass: privacyCap
pageSlug: accessibility/
layout: 'base.njk'
---

<div class="container mb-5">
<div class="row">
  <div class="homeLeadIn col-md-8 offset-md-2 text-center mt-5 mb-3 pt-4">
    <h1 class="mt-4 mb-4">Web and Mobile Accessibility</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    
    
    <p>We strive to meet online usability and design requirements recommended by the World Wide Web Consortium (W3C) in its Web Content Accessibility Guidelines 2.0 Level AA. We use design standards that help customers identify, interpret, understand and interact with information presented on our website.</p>
    <p>There is no definitive test nor certification of conformance to Level AA of the WCAG but we have used a variety of methods for assessing accessibility. If you find a part of the site that you feel does not conform to Level AA of the WCAG, please contact us to let us know so that we can rectify it.</p>
    <h3 class="mt-4 mb-2">Software recommendations and settings</h3>
    <p>We follow the W3C's globally recognized standards to provide content that’s compatible with the most popular assistive technologies and web browsers. We recommend using the most current version (or the version released just prior to) of manufacturer's assistive technology applications, along with a current version of the browsers listed below.</p>
    <p>Please go to the individual manufacturer’s site for information about how to obtain them. You may also have access to assistance from local and state agencies or non-profit groups in your area.</p>
    <h3 class="mt-4 mb-2">Screen reader applications</h3>
    <p>The following browser and screen reader application pairings are recommended for the best customer experience:</p>
    <ul>
      <li>Chrome and JAWS</li>
      <li>Mozilla Firefox and NVDA</li>
      <li>Chrome and TalkBack for Android devices</li>
      <li>Safari and VoiceOver for iOS and macOS devices</li>
    </ul>
    
    
    
    
    
  </div>
</div>
</div>