---
titleTag: PRL Industries - Ferrous & Non-Ferrous High Specification Sand Casting Foundry | PRL Industries
pageName: Capabilities
description: PRL, Inc.
layout: 'base.njk'
---
  <h1>{{ pageName }}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center">
      <h1>Precision is embedded in our DNA</h1>
      <p>We understand the critical nature of the components we supply. They must meet rigorous safety standards. We’re proud of the certifications we’ve received. They’re built for longevity and superior performance in brutal environments. We strive for perfection to fit within complex and critical defense and commercial transportation vessels. We know that PRL products cannot fail.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-foundry" type="button" role="tab" aria-controls="v-pills-foundry" aria-selected="true">Foundry</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upgrading" type="button" role="tab" aria-controls="v-pills-upgrading" aria-selected="false">Upgrading</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ndt" type="button" role="tab" aria-controls="v-pills-ndt" aria-selected="false">NDT/NDE</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-machining" type="button" role="tab" aria-controls="v-pills-machining" aria-selected="false">Machining</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-foundry" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h3>Foundry</h3>
            <p>Regardless of shape or size of the component, the capabilities of the PRL foundry are valued by clients in the defense, nuclear and other industrial and commercial sectors. Our experience is dedicated to always attaining world-class standards. We’re equally devoted to assuring you get the personalized attention your project requires.</p>
            <ul>
              <li><strong>Alloys</strong> From standard to exotic, ferrous to non-ferrous, we have decades of experience pouring alloys</li>
              <li><strong>Molding</strong> Capabilities extend from the simplest forms to molding the most demanding tolerances</li>
              <li><strong>Melting/AOD</strong> PRL will melt metals in our furnaces, and if required will be refined in our Argon, Oxygen Decarbonization (AOD) vessels</li>                
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-upgrading" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h3>Upgrading</h3>
            <p>PRL’s Upgrading services are an important part of our dedication to delivering solutions to customers’ most stringent specifications. Our years of experience and passion for precision mean that PRL castings and fabrications meet the most demanding standards. Our upgrading services and capabilities include:</p>
            <ul>
              <li><strong>Heat Treating</strong> in one of several furnaces sizes to meet your requirements</li>
                <li><strong>Welding</strong> and fabrication to meet all forms of contemporary needs</li>
                <li><strong>Grinding</strong> to meet the most stringent tolerances</li>
                <li><strong>Inspection</strong> conducted by certified, experienced and dedicated personnel</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="v-pills-ndt" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h3>NDT/NDE</h3>
            <p>PRL’s dedication to precision extends to meeting and exceeding world-class levels of nondestructive testing. Our personnel meet the most stringent standards assigned by the military and the American Society of Non-destructive testing (ASNT). Fourteen Level III personnel are qualified to meet the American Society of Mechanical Engineers (ASME) requirements.</p>
            <ul>
              <li><strong>Radiography</strong> for steel thicknesses from .25 to 11 inches</li>
              <li><strong>Visual Inspection</strong> performed by PRL’s dedicated team of qualified and certified personnel</li>
                <li><strong>Magnetic Particle Testing</strong> on ferro-magnetic metals using either wet or dry methods</li>
                <li><strong>Liquid Penetrant Inspection</strong> utilizing visible red dye with white developer</li>
                <li><strong>Ultrasonic Testing</strong> to measure components and detect defects</li>
                <li><strong>Hydrostatic Pressure Testing</strong> to ensure the structural integrity of castings</li>
            </ul>  
          </div>
          <div class="tab-pane fade" id="v-pills-machining" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
        </div>
      </div>
    </div>
  </div>
</div>