---
titleTag: PRL Industries - Ferrous & Non-Ferrous High Specification Sand Casting Foundry | PRL Industries
pageName: Capabilities
description: PRL, Inc.
layout: 'base.njk'
---
<div class="container">
<div class="row">
  <div class="col">
  <h1>{{ pageName }}</h1>
  <ul>
  <li>Foundry</li>
  <li>Upgrading</li>
  <li>NDT</li>
  <li>Machining</li>
  <li>Materials - all types listed (bullets)</li>
  </ul>
  </div>
</div>
</div>