---
titleTag: Career Opportunities at PRL - Machinist & Foundry Positions | Pennsylvania
pageName: Careers
description: Looking for a machinist or foundry position in Pennsylvania? PRL, Inc. is an employer of choice and has job openings for machinists, welders, NDT inspectors, and grinders.
layout: 'base.njk'
---
  <h1>{{ pageName }}</h1>
  <p>corporate culture, benefits, training/mentorship program, open positions [embed]</p>