---
titleTag: Career Opportunities at PRL - Machinist & Foundry Positions | Pennsylvania
pageName: Careers
description: Looking for a machinist or foundry position in Pennsylvania? PRL, Inc. is an employer of choice and has job openings for machinists, welders, NDT inspectors, and grinders.
pageClass: careersCap
pageSlug: careers/
layout: 'base.njk'
---
<section class="container contentLeadIn">
<div class="row justify-content-center">
  <div class="col-md-8 text-center pt-5 pb-3">
      <h1>PRL is a great place to grow personally and serve America’s most critical industries.</h1>
    </div>
  </div>
  <div class="row justify-content-center pb-5">
    <div class="col-md-6">
      <iframe style="aspect-ratio:16/9;" width="100%" src="https://www.youtube.com/embed/JDzpxjt5Dt8?rel=0" title="Working at PRL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
</section>

<section class="container pb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12 capsItemsdt mt-5">
  
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active mb-2 py-3" id="v-pills-foundry-tab" data-bs-toggle="pill" data-bs-target="#v-pills-foundry" type="button" role="tab" aria-controls="v-pills-foundry" aria-selected="true"><i class="capArrow"></i>Why PRL?</button>
          <button class="nav-link mb-2 py-3" id="v-pills-upgrading-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upgrading" type="button" role="tab" aria-controls="v-pills-upgrading" aria-selected="false"><i class="capArrow"></i>Our Values</button>
          <button class="nav-link mb-2 py-3" id="v-pills-ndt-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ndt" type="button" role="tab" aria-controls="v-pills-ndt" aria-selected="false"><i class="capArrow"></i>Culture</button>
          <button class="nav-link mb-2 py-3" id="v-pills-machining-tab" data-bs-toggle="pill" data-bs-target="#v-pills-machining" type="button" role="tab" aria-controls="v-pills-machining" aria-selected="false"><i class="capArrow"></i>Training &amp; Mentorship</button>
          <button class="nav-link mb-2 py-3" id="v-pills-materials-tab" data-bs-toggle="pill" data-bs-target="#v-pills-materials" type="button" role="tab" aria-controls="v-pills-materials" aria-selected="false"><i class="capArrow"></i>Benefits</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-foundry" role="tabpanel" aria-labelledby="v-pills-foundry-tab">
            <h3>Why PRL?</h3>
            <p>PRL is a company on the move. We’re a leading manufacturer of cast metals in our region and an employer of choice among machinists, welders, nondestructive inspectors and other related metallurgical occupations. If you take pride in your work and want to help manufacture high specification components which are used in critical and important sectors around the world, then PRL is the place for you! Our culture is based upon teamwork and mutual respect, so please explore joining our team.</p>
            <p>At PRL Industries, Inc., we value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees. All qualified applicants for employment will be considered without regard to an individual’s race, color, sex, gender identity, gender expression, religion, age, national origin or ancestry, citizenship, physical or mental disability, medical condition, family care status, marital status, domestic partner status, sexual orientation, genetic information, military or veteran status, or any other basis protected by federal, state or local laws.  If you are unable to submit your application because of incompatible assistive technology or a disability, please contact us at <a href="mailto:hr@nautilusis.com" title="Email HR">hr@nautilusis.com</a>. PRL Industries, Inc. will reasonably accommodate qualified individuals with disabilities to the extent required by applicable law.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-upgrading" role="tabpanel" aria-labelledby="v-pills-upgrading-tab">
            <h3>Our Values</h3>
            <p>At PRL, we are proud of the role we play in ensuring our nation’s security. We work hard to fulfill our customers’ expectations, because we fully understand the critical nature of the components we supply. Each and every day, our co-workers strive for a new level of excellence and personal accountability.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-ndt" role="tabpanel" aria-labelledby="v-pills-ndt-tab">
            <h3>Culture</h3>
            <p>At PRL, we strive for a culture which offers you a high quality of life, while maintaining a strong emphasis on meeting customer expectations. We never compromise on workplace safety. These factors, combined with challenging daily responsibilities, result in a dynamic environment with a serious emphasis on teamwork. Team members are treated with respect, your co-workers care about you, and everyone’s feedback is taken seriously.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-machining" role="tabpanel" aria-labelledby="v-pills-machining-tab">
            <h3>Training &amp; Mentorship</h3>
            <p>PRL’s standards for the quality of our workmanship is very high. If you are not just looking for a job, but are looking to make a career, PRL is the place for you. Starting on your first day, you are assigned a mentor and we promise to continue to train you throughout your career. Whether you are new to your job field or a seasoned professional, we are dedicated to help you reach your goals.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-materials" role="tabpanel" aria-labelledby="v-pills-materials-tab">
            <h3>Benefits</h3>
            <p>Here are some of the important benefits of working at PRL:</p>
            <div class="row">
              <div class="col">
                <ul>
                  <li>Medical Insurance</li>
                  <li>Dental Insurance</li>
                  <li>Medical Flexible Spending Account</li>
                  <li>Disability Insurance</li>
                  <li>Life Insurance</li>
                  <li>Wellness Program</li>
                  <li>Voluntary Insurances</li>                  
                  <li>401 (k) Plan w/Match</li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li>Paid Holidays</li>
                  <li>Paid Vacation</li>
                  <li>Paid Bereavement Leave</li>
                  <li>Educational Reimbursement Program</li>
                  <li>Employee Activities</li>
                  <li>Training Programs</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
      
    <div class="col capsItemsm mt-4">  
      <!-- mobile accordion -->
      <div class="accordion" id="capabilitiesMobile">
        <div class="accordion-item">
          <h2 class="accordion-header" id="foundryhead">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#foundryOne" aria-expanded="true" aria-controls="foundryOne">
              Why PRL?
            </button>
          </h2>
          <div id="foundryOne" class="accordion-collapse collapse show" aria-labelledby="foundryhead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>PRL is a company on the move. We’re a leading manufacturer of cast metals in our region and an employer of choice among machinists, welders, nondestructive inspectors and other related metallurgical occupations. If you take pride in your work and want to help manufacture high specification components which are used in critical and important sectors around the world, then PRL is the place for you! Our culture is based upon teamwork and mutual respect, so please explore joining our team.</p>
              <p>At PRL Industries, Inc., we value a diverse, inclusive workforce and we provide equal employment opportunity for all applicants and employees. All qualified applicants for employment will be considered without regard to an individual’s race, color, sex, gender identity, gender expression, religion, age, national origin or ancestry, citizenship, physical or mental disability, medical condition, family care status, marital status, domestic partner status, sexual orientation, genetic information, military or veteran status, or any other basis protected by federal, state or local laws.  If you are unable to submit your application because of incompatible assistive technology or a disability, please contact us at <a href="mailto:hr@nautilusis.com" title="Email HR">hr@nautilusis.com</a>. PRL Industries, Inc. will reasonably accommodate qualified individuals with disabilities to the extent required by applicable law.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="upgradinghead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upgradingTwo" aria-expanded="false" aria-controls="upgradingTwo">
              Our Values
            </button>
          </h2>
          <div id="upgradingTwo" class="accordion-collapse collapse" aria-labelledby="upgradinghead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>At PRL, we are proud of the role we play in ensuring our nation’s security. We work hard to fulfill our customers’ expectations, because we fully understand the critical nature of the components we supply. Each and every day, our co-workers strive for a new level of excellence and personal accountability.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="ndthead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ndtThree" aria-expanded="false" aria-controls="ndtThree">
              Culture
            </button>
          </h2>
          <div id="ndtThree" class="accordion-collapse collapse" aria-labelledby="ndthead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>At PRL, we strive for a culture which offers you a high quality of life, while maintaining a strong emphasis on meeting customer expectations. We never compromise on workplace safety. These factors, combined with challenging daily responsibilities, result in a dynamic environment with a serious emphasis on teamwork. Team members are treated with respect, your co-workers care about you, and everyone’s feedback is taken seriously.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="machininghead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#machiningFour" aria-expanded="false" aria-controls="machininghead">
              Training &amp; Mentorship
            </button>
          </h2>
          <div id="machiningFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>PRL’s standards for the quality of our workmanship is very high. If you are not just looking for a job, but are looking to make a career, PRL is the place for you. Starting on your first day, you are assigned a mentor and we promise to continue to train you throughout your career. Whether you are new to your job field or a seasoned professional, we are dedicated to help you reach your goals.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="materialshead">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#materialsFive" aria-expanded="false" aria-controls="materialsFive">
              Benefits
            </button>
          </h2>
          <div id="materialsFive" class="accordion-collapse collapse" aria-labelledby="materialshead" data-bs-parent="#capabilitiesMobile">
            <div class="accordion-body">
              <p>Here are some of the important benefits of working at PRL:</p>
              <ul>
                <li>Medical Insurance</li>
                <li>Dental Insurance</li>
                <li>Medical Flexible Spending Account</li>
                <li>Disability Insurance</li>
                <li>Life Insurance</li>
                <li>Wellness Program</li>
                <li>Voluntary Insurances</li>
                <li>401 (k) Plan w/Match</li>
                <li>Paid Holidays</li>
                <li>Paid Vacation</li>
                <li>Paid Bereavement Leave</li>
                <li>Educational Reimbursement Program</li>
                <li>Employee Activities</li>
                <li>Training Programs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section class="afApplication py-5 mt-5">
  <div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
    <h1 class="h2">Check out our current opportunities</h1>
    <p class="mb-5 mt-4">We are always looking for talented people to join our team with the following experience: Foundry Engineering, Melting &amp; Molding; Welding, Grinding &amp; Heat Treating; CNC, CAD, CAM &amp; CMM Machining; Nondestructive Testing</p>
    <p><a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=d460fe55-bb8d-4e4c-8b73-ddb917c9b996&ccId=19000101_000001&lang=en_US" target="_blank" rel="noopener nofollow" class="btn btn-primary btnondark opbtn">Open Positions <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-external-link-alt fa-w-16" style="max-width:1em;"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z" class=""></path></svg></a></p>
    </div>
  </div>
  </div>
</section>