---
titleTag: PRL Maintains Nuclear & Military Certifications | ASME, MIL-I-45208, Castings, NAVSEA
pageName: Certifications
description: ASME certificate holder, we follow MIL-I-45208 and NAVSEA procedures. We have Nineteen Level III NDE personnel in-house certified to ASNT-TC-1A and maintain training to MIL-STD and ANSI requirements.
pageClass: certificationsCap
pageSlug: certifications/
layout: 'base.njk'
---

<section class="container contentLeadIn">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center py-5">
      <h1>Outstanding dedication to precision results in outstanding certifications by outstanding organizations</h1>
    </div>
  </div>
</section>
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="8" />
    </div>
  </div>
</div>
<section class="container certLists">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-6">
          <p>We have partnered with the following organizations to ensure our products and capabilities deliver the highest standards to our customers:</p>
          <ul>
            <li><a href="https://www.asme.org" target="_blank" rel="noopener nofollow">The American Society of Mechanical Engineers (ASME)</a></li>
            <li><a href="https://www.afsinc.org" target="_blank" rel="noopener nofollow">The American Foundry Society (AFS)</a></li>
            <li><a href="https://www.aws.org/home" target="_blank" rel="noopener nofollow">The American Welding Society (AWS)</a></li>
            <li><a href="https://submarinesuppliers.org" target="_blank" rel="noopener nofollow">The Submarine Industrial Base Council (SIBC)</a></li>
            <li><a href="https://asnt.org" target="_blank" rel="noopener nofollow">The American Society for Nondestructive Testing (ASNTA)</a></li>
            <li><a href="https://www.sfsa.org" target="_blank" rel="noopener nofollow">The Steel Founders’ Society of America (SFSA)</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="mt-5 mt-md-0 mb-4">Our Certifications include:</h4>
          <ul>
            <li><a href="/resource/1677-Cert-Trans-3-20-19-JMA.pdf" target="_blank">ASME Boiler and Pressure Vessel Code</a>. Our ASME Certificate is a QSC Material Organization</li>
            <li><a href="/resource/Registration-Letter-M20499.pdf" target="_blank">United States Department of State ITAR Part 122 registration</a></li>
            <li>Our team follows <strong>MIL-I-45208 and NAVSEA procedures</strong></li>
            <li>Nineteen <strong>Level III NDE personnel</strong> are in-house certified to <strong>ASNT-TC-1A</strong> and maintain training to <strong>MIL-STD</strong>, <strong>NAVSEA</strong>, <strong>ASME and ANSI requirements</strong></li>
            <li>Our welders are certified in <stron>GMAW</stron>, <strong>GTAW</strong> and <strong>SMAW procedures</strong></li>              
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include './_includes/raq.njk' %}