---
titleTag: PRL's Certifications - ASME, MIL-I-45208, Castings, NAVSEA
pageName: Certifications
description: ASME certificate holder, MIL-I-45208, NAVSEA, Electric Boat, Newport News approved procedure, enables PRL to produce quality castings, and are one of the longest sand casting holders of these certificates in the industry.
layout: 'base.njk'
---
  <h1>{{ pageName }}</h1>
  <p>all certifications listed, links to PDFs</p>