---
titleTag: Locations in Cornwall and Lebanon, PA | Navy Nuclear Approved to Perform Level One Work
pageName: Facilities
description: We can provide castings to 25,000 pounds, AOD up to 18,500 lbs. per heat. ASNT National Certifications (VT/MT/PT/RT) and NAVSEA 250-1500-1 Certified (VT/PT). Supplying high integrity castings and machining for over 50 years from two outstanding locations. 
pageClass: facilitiesCap
pageSlug: facilities/
layout: 'base.njk'
---

<section class="container contentLeadIn">
<div class="row">
  <div class="col-md-8 offset-md-2 text-center py-5">
      <h1 class="mb-4">We have two locations dedicated to serving your needs.</h1>
      <p>PRL has been supplying high-integrity castings and machining for over 50 years. Our team of specialized craftsmen at both locations are ready to provide you with finished components that will conform to the strictest military, nuclear, and commercial requirements.</p>
      <p>We've achieved numerous ASME and U.S. Military certifications. Our dedication to precision and on-time delivery has helped earn PRL the trust of the most demanding customers.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep" size="4" />
    </div>
  </div>
  <div class="row facilityInfo mt-5">
    <div class="col-md-5 offset-md-1">
      <picture>
        <source srcset="/images/facilities-cornwall.webp" type="image/webp">
        <source srcset="/images/facilities-cornwall.jpeg" type="image/jpeg"> 
        <img src="/images/facilities-cornwall.jpeg"  class="img-fluid" alt="PRL in Cornwall, Pennsylvania">
      </picture>
      <h2 class="mt-4 mb-3">Cornwall, Pennsylvania</h2>
      <p>Headquartered in Cornwall, PRL is a major supplier of high-precision castings to Military, Nuclear and Commercial sectors. Our expert team has qualified for and received numerous certifications by industry and government organizations. Capabilities at Cornwall include:</p>
      <ul>
        <li><strong>Foundry.</strong> PRL can provide castings up to 25,000 lbs.</li>
        <li><strong>AOD.</strong> Refining up to 18,500 lbs. per heat</li>
        <li><strong>Casting Upgrade.</strong> NAVSEA and ASME approved weld procedures</li>
        <li><strong>NAVSEA</strong> approved weld repairs</li>
        <li><strong>NDT.</strong> Broad range of NDT testing capabilities: Radiographic, Visual, Magnetic particle, Liquid Penetrant and Ultrasonic</li>
        <li><strong>Machining.</strong> Full-service manual and CNC Capabilities</li>
        <li><strong>Quality.</strong> Navy Nuclear Approved to perform level one work</li>
      </ul>
    </div>
    <div class="col-md-5 mt-5 mt-md-0">
      <picture>
        <source srcset="/images/facilities-lebanon.webp" type="image/webp">
        <source srcset="/images/facilities-lebanon.jpeg" type="image/jpeg"> 
        <img src="/images/facilities-lebanon.jpeg"  class="img-fluid" alt="PRL in Lebanon, Pennsylvania">
      </picture>
      <h2 class="mt-4 mb-3">Lebanon, Pennsylvania</h2>
      <p>PRL's Lebanon facility is known as the "Home of Precision" for its dedication to meeting the most exacting standards in machined components.</p>
      <ul>
        <li><strong>Manufacturing space.</strong> 107,000 square feet</li>
        <li><strong>Quality.</strong> ASNT National Certifications (VT/MT/PT/RT) and NAVSEA 250-1500-1 Certified (VT/PT)</li>
        <li><strong>Employees.</strong> 140 skilled, certified and dedicated workers</li>
        <li><strong>Number of machines.</strong> 37</li>
      </ul>
    </div>
  </div>
</section>
{% include './_includes/raq.njk' %}