---
titleTag: PRL Industries - Ferrous & Non-Ferrous High Specification Sand Casting Foundry | PRL Industries
pageName: Home
pageClass: homeCap
description: PRL, Inc. specializes in ASME/MIL high specification castings of ferrous and non-ferrous alloys. More than 80% of our customers are in the military, nuclear power, or petro-chemical industries. All of our castings, including pumps, valves, impellers and diffusers, are designed to meet your most rigid specifications.
layout: 'base.njk'
---
  <h1>{{ pageName }}</h1>
  <p>brief company info, list of capabilities, about us</p>
  
  <section class="2colE">
    <div class=""></div>
    <div class="">
      <h5>ABOUT US</h5>
      <h2>Lorem ipsum dolor sit</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      <p><a href="/" class="btn btn-primarymtladmin">Learn More</a></p>
    </div>
  </section>