---
titleTag: Customize Your Quote at PRL Industries
pageName: Request a Quote
description: You need a partner who doesn't just understand the critical nature of your needs, but has the years of experience, the association certifications, and the dedicated personnel to make your project a reality.
pageClass: raqCap
pageSlug: request-a-quote/
layout: 'base.njk'
---

<section class="container contentLeadIn">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center pt-5 pb-4 pb-md-4">
      <h1 class="mb-4">Let's do important work together.</h1>
      <p>You need a partner who doesn't just understand the critical nature of your needs, but has the years of experience, the association certifications, and the dedicated personnel to make your project a reality.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mainSep mb-5" size="4" />
    </div>
  </div>
</section>
<section class="container mb-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h2 class="lsycq mb-4">Let's start your customized quote.</h2>
      <form name="requestaquote" method="POST" data-netlify="true" netlify-honeypot="caught-field" id="formnis">
        <p class="d-none">
          <label>Don't fill this out if you're human: <input name="caught-field" /></label>
        </p>
        <div class="row">
          <div class="col-md-6 pe-md-5">
            <h4 class="raqFormTitles mb-4">Tell us a bit about you:</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input class="form-control" id="fiFirstName" type="text" name="firstname" placeholder="First Name" data-rule-required="true" data-msg-required="Please enter your first name"/>
                  <label for="fiFirstName">First Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input class="form-control" id="fiLastName" type="text" name="lastname" placeholder="Last Name" data-rule-required="true" data-msg-required="Please enter your first name" />
                <label for="fiLastName">Last Name</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="fiEmail" placeholder="Email Address" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address">
              <label for="fiEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="fiPhone" type="tel" name="phone" placeholder="Phone" data-rule-required="true" data-msg-required="Please enter your phone number" />
              <label for="fiPhone">Phone</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fiCompanyName" name="companyname" placeholder="Company Name" required />
              <label for="fiCompanyName">Company Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fiYourTitle" name="title" placeholder="Your Title" required />
              <label for="fiYourTitle">Your Title</label>
            </div>
          </div>
          <div class="col-md-6 ps-md-5">
            <fieldset>
              <h4 class="raqFormTitles mb-4"><legend>What services are you interested in:</legend></h4>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" name="services[]" value="Foundry" id="ficFoundry">
                <label class="form-check-label" for="ficFoundry">Foundry Services (custom or standard sand casting)</label>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" name="services[]" value="Upgrading" id="ficUpgrading">
                <label class="form-check-label" for="ficUpgrading">Upgrading (heat treating, welding or grinding)</label>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" name="services[]" value="NDT" id="ficNDT">
                <label class="form-check-label" for="ficNDT">NDT (radiographic, magnetic particle or liquid penetration)</label>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" name="services[]" value="Machining" id="ficMachining">
                <label class="form-check-label" for="facMichining">Machining (CNC, CAD, CAM or CMM)</label>
              </div>
            </fieldset>
            
            <div class="form-floating mt-3">
              <textarea class="form-control" name="details" placeholder="Please provide a few details about your project." id="fiMessage" style="height: 8em" required></textarea>
              <label for="fiMessage">Please provide a few details about your project.</label>
            </div>
            
            <p><button type="submit" class="btn btn-primary my-4">Start Your Quote</button></p>
          </div>
        </div>
        
            
      </form>
    </div>
  </div>
</section>